*{
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    padding: 10px;
    max-width: 800px;
    margin:  auto;
    height: 100vh;
    max-height: 750px;
    background-color: rgb(3, 156, 156);
    flex-direction: column;
    justify-content: flex;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    
}

#group-btn {
    
    width: 30%;
    text-align: left;
    display: inline-block;
}
#group-btn > button > img {
    width: 70%;
    height: 70%;
}
#init {
    text-align: center;
}

#form-init{
    width: 30%;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}
#error-message {
    display:none;
}
h1 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#start-text {
    font-size: 26px;
    text-align: center;
    padding: 40px;
}

#result {
    width: 50;
    text-align: center;
    display: inline-block;
}
#result img {
    margin-top: 10px;
    width: 20%;
}
 #machine-selection {
   
    display: inline-block;
    
    
 }

 #machine-selection img {
    width: 80% ;
    height: 80%;
    display: inline-block;
    text-align: right;
 }
