*{
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    padding: 10px;
    max-width: 800px;
    margin:  auto;
    height: 100vh;
    max-height: 800px;
    background-color: rgb(3, 156, 156);
    flex-direction: column;
    justify-content: flex;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    
}

#group-btn {
    position: static;
    width: 34%;
    text-align: center;
    display: inline-block;
    height: 30%;
}

#group-btn > button > img {
    width: 70%;
    height: 70%;
}
#init {
    text-align: center;
}

#form-init{
    width: 100%;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}
#error-message {
    display:none;
}
h1 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#start-text {
    font-size: 26px;
    text-align: center;
    padding: 40px;
}

#result {
    margin-right: 10px;
    width: 33%;
    text-align: center;
    display: inline-block;
    
}
#result img {
    max-width: 80%;
    width: 90%;
    height:100%;
}
 #machine-selection {
    width: 20%;
    height: 19%;
    display: inline-block;
    text-align: right;

    
    
 }

 #machine-selection img {
    
    width: 120px ;
    height: 110px;
    display: inline-block;
    text-align: right;
    position: static;
   
 }
